.autocomplete-form {
    background-color: #ffff !important;
}
.autocomplete-input-wrapper{
    background-color: transparent !important;
}
input{
    background-color: #ffff !important;
    color: black !important;
}
.autocomplete-options{
    background-color: #ffff !important;
    color: black !important;
    position: absolute;
}

.autocomplete-list-wrapper{
    position: relative;
}

/* addding media query for mobile screen */

@media (max-width: 768px) {
    .autocomplete-form{
        width: 90vw !important;
    }
}